body {
    background-color: whitesmoke;
  }
  h1 {
    background-color: #152E70; 
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: -70px;
    top: -80px; 
    text-align: right;
    font-size: 35px;
  }
  #logo {
    position: relative;
    top: -220px;
    cursor: pointer;
    left: -325px;
    align: center;
}

  